*{
    margin:0;
}

body{
    background: #E6DFCC;
}

#imob-go {
    text-align: center;
    color: red;
}

#sua-ferramenta-de-pesquisas-imobiliarias{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}